@model IEnumerable<Nmoor.Models.DbContext.User>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recentsignin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recentsignin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.username }) |
            @Html.ActionLink("Details", "Details", new { id=item.username }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.username })
        </td>
    </tr>
}

</table>
