@model IEnumerable<Nmoor.Models.DbContext.User>
@{
    ViewBag.Title = "Main";

    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

@section css{
    <style>
        .myContainer {
            display: inline-flex;
        }

        .mychild {
            height: 10%;
            padding: 10px;
            margin: auto;
            margin-left: 5px;
        }

        .table {
            width: 50%;
            float: right;
            margin-top: -325px;
        }
    </style>
}
<div class="container">
    <h3>Hello, @Session["username"].ToString()</h3>
    @TempData["Msg"]
    @foreach (var item in Model)
    {

        <div class="card" style="width: 45rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.fullname)</b><br /> @Html.DisplayFor(modelItem => item.fullname)</li>
                <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.email)</b><br /> @Html.DisplayFor(modelItem => item.email)</li>
                <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.balance)</b><br /> $@Html.DisplayFor(modelItem => item.balance) CAD</li>
                <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.token)</b><br /> @Html.DisplayFor(modelItem => item.token)</li>
                <li class="list-group-item"><b>@Html.DisplayNameFor(model => model.recentsignin)</b><br /> @Html.DisplayFor(modelItem => item.recentsignin)</li>
            </ul>
        </div>
    }

<div>
    <table class="table table-borderless table-hover">
        <tr>
            <th>
                <h3>Recent activity</h3>
            </th>
        </tr>
        <tr>
            <th>Transfer date</th>
            <th>Sender</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        @foreach (var item in ViewBag.recent)
        {


            <tr>
                <td>
                    @item.date
                </td>
                <td>
                    @item.senderUsername
                </td>
                <td>
                    @item.amount
                </td>
                <td>
                    @item.status
                </td>
            </tr>


        }
    </table>
    </div>





    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary mychild" data-toggle="modal" data-target="#depositModel">
        Add money
    </button>

    <button type="button" class="btn btn-primary mychild" data-toggle="modal" data-target="#withdrawModel">
        Withdraw money
    </button>

    <button type="button" class="btn btn-primary mychild" data-toggle="modal" data-target="#transferModel">
        Transfer
    </button>
</div>




@Html.Partial("~/Views/Shared/Deposit.cshtml")
@Html.Partial("~/Views/Shared/Withdraw.cshtml")
@Html.Partial("~/Views/Shared/Transfer.cshtml")
