<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nmoor</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/fontawesome.min.css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>   
    <script src="https://kit.fontawesome.com/86b96ffcd3.js"></script>
    @RenderSection("css", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <b> @Html.ActionLink("Nmoor", "Main", "DashBoard", new { area = "" }, new { @class = "navbar-brand", style = "font-size: 25px" })</b>
            </div>
            @if (Session["username"] != null)
            {
                <div class="navbar-header" style="color:white; padding:9px; margin-left:10px; float:right; font-weight:600;">
                    @Html.ActionLink("🔔", "ViewTransfer", null, htmlAttributes: new { @class = "btn btn-primary mychild notif-a", alt = "Alert" })


                    @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <div class="container">
            <footer>
                <p>&copy; @DateTime.Now.Year - Nmoor.Inc</p>
            </footer>
        </div>

    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 2000
            });

        
        });

    </script>
    @RenderSection("Scripts", false)
</body>
</html>